---
layout: layouts/home.hbs
title: My Blog test
tags: nav
navtitle: Home
---

<h1>{{metadata.title}}</h1>

<ul>
{{#each collections.post}}
  <li>
    <a href="{{ this.url }}">{{ this.data.title }}</a> 
  </li>
{{/each}}
</ul>